.Chart_phan_tich {
    float: left;
    margin: 10px 10px 10px 200px;
    height: 50vh;
    width: 50vh;
}
.Chart_phan_tich_2 {
    float: left;
    margin: 20px;
    height: 50vh;
    width: 50vh;
}

