.containerr {
  position: relative;
  width: 50%;
  left: 25%;
}
.part {
  position: relative;
  background-color: black;
  width: 50%;
}
.alertt{
  
    float: left;
    color: red;
    font-size: 15px;
    
}
.name{

  margin-bottom: 25px;
}
